beautifulsoup4>=4.6.0
demjson>=2.2.4
facebook-sdk>=2.0.0
feedgen==0.8.0
idna>=2.6
isodate>=0.6.0
lxml>=3.0.0
python-dateutil>=2.6.1
pytz>=2017.3
pyxdg>=0.25
requests>=2.20.0
sortedcontainers>=1.5.9
tzlocal>=1.5.1
